@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}
body{
    background-color: antiquewhite;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    background: linear-gradient( to right, purple,pink);
    border-radius: 100% 0% 41% 59% / 56% 23% 77% 44% ;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
header nav ul li{
    margin: 0 15px;
    transition: 0.5s;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
}
header nav ul li:hover{
    border: 1px solid pink;
    border-radius: 10px;
    padding: 0 18px;
}

.presentation{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    color: purple;
}
.presentation .text{
    width: 35%;
    height: 40%;
    border-radius: 7% 93% 18% 82% / 69% 30% 70% 31%  ;
    background-color: purple;
    padding: 30px;
    margin: 50px;
    color: #fff;
}
.presentation .image{
    border-radius: 7% 93% 18% 82% / 69% 30% 70% 31%;
    overflow: hidden;
}
.presentation .image img{
    width: 380px;
    height: 450px;
    /* object-fit: cover; */
}

.competences{
    padding: 50px;
    color: blueviolet;
}

.competences ul{
    width: 60%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    background-color: palevioletred;
    border-radius: 30% 20%;
    padding: 30px;
}
.competences ul li{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: purple;
    font-weight: bold;
    background-color: white;
    border-radius: 7% 93% 18% 82% / 69% 30% 70% 31%;
}
.projets h1{
    color: blueviolet;
}
.mesprojets{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.mesprojets .projet{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 20px 20%;
    background: purple;
    /* color: #fff; */
    padding: 15px;
}
.mesprojets .projet h4{
    padding-bottom: 20px;
}



.contact{
    color: blueviolet;
}
.contact form{
    width: 40%;
    margin: auto;
    background: pink;
    padding: 20px;
    color: purple;
    font-weight: bold;
    border-radius: 20px;
}
.contact form .ligne{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.contact form .ligne input{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.contact form .ligne textarea{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkviolet;
    padding: 30px;
    margin-top: 20px;
}








@media (max-width: 1024px) {

  header {
    padding: 30px;
    text-align: center;
  }

  .presentation {
    flex-direction: column;
    margin: 20px;
    padding: 20px;
  }

  .presentation .text {
    width: 80%;
    margin: 20px auto;
  }

  .presentation .image img {
    width: 300px;
    height: auto;
  }

  .competences ul {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }

  .mesprojets {
    flex-direction: column;
    align-items: center;
  }

  .mesprojets .projet {
    width: 70%;
    margin-bottom: 20px;
  }

  .contact form {
    width: 70%;
  }
}






@media (max-width: 768px) {

  header nav ul {
    flex-direction: column;
    margin: 20px 0;
  }

  header nav ul li {
    margin: 10px 0;
  }

  .presentation .text {
    width: 100%;
    padding: 20px;
  }

  .presentation .image img {
    width: 100%;
    height: auto;
  }

  .competences ul {
    width: 100%;
    grid-template-columns: 1fr;
    border-radius: 20px;
  }

  .mesprojets .projet {
    width: 100%;
  }

  .contact form {
    width: 100%;
  }

  footer {
    text-align: center;
  }
}
