*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: linear-gradient( to right, purple,pink);
    border-radius: 100% 0% 41% 59% / 56% 23% 77% 44% ;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}